div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    flex-direction:column; 
}

button {
    background-color: maroon;
    border: 4px;
    border-style: solid;
    border-color: sandybrown;
	color: sandybrown;
    border-radius: 30px;
    padding: 20px 60px;
    margin: 10px;
    font-weight: bold;
}
button:hover{
    background-color: brown;
}
button:active{
    background-color: brown;
    color: black;
    border-color: black;
}
body {
	background-color: black;
	font-style: normal;
	color: sandybrown;
}
